.mybookings-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 15px;
  background: #f9f9f9;
  border-radius: 10px;
}

.booking-card {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #e0f7fa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.booking-card button {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.booking-card button:hover {
  opacity: 0.8;
}
